@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');

// Font size
$font-stack: Lato, sans-serif;
$base-font-size-desktop: 18px;
$base-font-size-mobile: 18px;

$primary-color: #0d3880;
$secondary-color: #1d9ede;
$success-color: #3fa833;
$danger-color: #e60278;
