@import '../style/shadow';
@import '../style/card';
@import '../style/config';

.product-card {
  @extend .card;
  width: 100%;
  margin-bottom: 8px;
  position: relative;

  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 16px;
    cursor: pointer;
    opacity: 0.4;
  }

  .close:hover {
    opacity: 1;
  }

  .__deal {
    margin-bottom: 12px;

    span {
      font-size: 0.75em;
      padding: 8px;
      border-radius: 4px;
      color: $success-color;
      border: 1px solid $success-color;
      background-color: lighten($success-color, 50%);
    }
  }

  .__title {
    color: $primary-color;
    font-size: 0.87em;
    font-weight: 600;
    margin: 0 0 8px 0;
  }

  .__description {
    color: #7A7A7A;
    font-size: 0.81em;
    margin: 0 0 8px 0;
  }

  .__price {
    align-self: flex-end;
    vertical-align: bottom;
  }

  .button.rounded {
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }

  .input-amount {
    width: 60px;
    font-size: 14px;
    text-align: center;
    border: 0;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    outline: none;

  }

  .input-amount:focus {
    border-bottom: 1px solid $primary-color;
  }
}