@import './style/config';
@import './style/shadow';
@import './style/card';

.main-container {
  max-width: 1200px;
  padding: 6px 20px;
  margin: 0 auto;
}

.card {
  @extend .card;
  display: inline-block;
}